*{margin: 0; padding: 0;}
  #spoiler{
    display: none;
  }
  main {
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
    background-color: #009bff;
  }
  #main-Div {
    margin: 50px auto;
    width: 80%;
    height: 80vh;   
    background-color: #fff;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .add-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  #add-name {
    padding: 10px;
    margin:10px 0;
    border:0; 
    border-bottom:1px solid #eee; 
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:20px;
    width:250px;
    height: 25px;
    margin-right: 10px;
    /* width:100%; */
  }
  #add-btn {
    padding: 10px;
    margin:10px 0;
    border:0; 
    border-bottom:1px solid #eee; 
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:25px;
    width:150px;
    height: 48px;
    color: white;
    background-color: #009bff;
  }
  #counter {

  }
  
